<div class="container bg-dark text-white mt-5">
    <h1 style="text-align: center; padding-top: 20px; padding-bottom: 20px"></h1>
    <div class="row">
        <div class="col-*-* mx-auto outter-input-group">
            <div class="input-group mb-3">
                <span id="name" class="input-group-text justify-content-center">Name:</span>
                <input type="text" [(ngModel)]="person.name" class="form-control" aria-describedby="name" placeholder="Name">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group" *ngIf="type != 'producers'">
            <div class="input-group mb-3">
                <span id="birthdate" class="input-group-text justify-content-center">Birthdate:</span>
                <input type="text" [(ngModel)]="person.birthdate" class="form-control" aria-describedby="birthdate" placeholder="Birthdate">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group" *ngIf="type!='producers'">
            <div class="input-group mb-3">
                <span id="nationality" class="input-group-text justify-content-center">Nationality:</span>
                <input type="text" [(ngModel)]="person.nationality" class="form-control" aria-describedby="nationality" placeholder="Nationality">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group">
            <div class="input-group mb-3">
                <span id="twitterAccount" class="input-group-text justify-content-center">Twitter:</span>
                <input type="text" [(ngModel)]="person.twitterAccount" class="form-control" aria-describedby="twitterAccount" placeholder="@twitter">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group">
            <div class="input-group mb-3">
                <span id="instagramAccount" class="input-group-text justify-content-center">Instagram:</span>
                <input type="text" [(ngModel)]="person.instagramAccount" class="form-control" aria-describedby="instagramAccount" placeholder="@instagram">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group">
            <div class="input-group mb-3">
                <span id="imageField" class="input-group-text justify-content-center">Image Url:</span>
                <input type="text" [(ngModel)]="person.imageField" class="form-control" aria-describedby="imageField" placeholder="Image Url">
            </div>
        </div>
        <div class="col-*-* mx-auto outter-input-group" *ngIf="type=='directors' || type=='producers'">
            <div class="input-group mb-3">
                <span id="website" class="input-group-text justify-content-center">Website:</span>
                <input type="text" [(ngModel)]="website" class="form-control" aria-describedby="website" placeholder="Website">
            </div>
        </div>
    </div>
    <button (click)="saveChanges()" class="btn btn-light" type="button" style="margin-bottom: 20px;">Edit<i class="bi bi-pencil-fill" style="color: black;font-size: 20px"></i></button>
</div>
