<div class="container align-items-center movie-details bg-dark text-white">
    <div class="row d-flex justify-content-between w-100 p-3">
        <div class="col-md-6 ">
            <h1 style="text-transform: uppercase">{{ movie.title }}</h1>
            <p>{{ movie.description }}</p>
            <p>Published: {{ movie.published_date }}</p>
            <div class="d-flex flex-column mb-3">
                <div class="casting">
                    <p>Rating: {{ movie.rating }}<i class="bi bi-star-fill" style="color: yellow"></i>
                    </p>
                    <p>Cast: </p>
                    <a *ngFor="let actor of movie.cast" routerLink="/person/actors/{{actor.id}}"><img
                            src="{{ actor.imageField }}" title="{{ actor.name }}"></a>
                    <p>Director: </p>
                    <a *ngFor="let director of movie.director" routerLink="/person/directors/{{director.id}}"><img
                            src="{{ director.imageField }}" title="{{ director.name }}"></a>
                    <p>Producer: </p>
                    <a *ngFor="let producer of movie.producer" routerLink="/producer/{{producer.id}}"><img
                            src="{{ producer.imageField }}" title="{{ producer.name }}"></a>

                    <p>Genres: </p>
                    <h7 *ngFor="let genre of movie.genre"> {{ genre.name }} </h7>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ movie.imageField }}" class="movie-image">
        </div>
    </div>
    <div class="row w-25" *ngIf="isSuperUser()">
        <div class="col">
            <button class="btn" (click)="editMovie(movie)" role="button">
                <i class="bi bi-pencil-fill icon-info"></i>
            </button>
        </div>
        <div class="col">
            <button class="btn" (click)="deleteMovie(movie)" role="button">
                <i class="bi bi-trash-fill icon-info"></i>
            </button>
        </div>
    </div>
</div>