.image-info {
    height: 70%;
    width: 100%;
}

.movie-details {
    margin: 3% 0;
}

.movie-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.casting > a > img {
    width: 45px;
    height: 66px;
    margin-right: 10px;
    cursor: pointer;

    transition: transform 0.5s ease, opacity .5s ease-out;
}

.casting > a > img:hover {
    opacity: 1;
    transform: scale(1.5);
}

.icon-info {
    color: white;
    font-size: 18px;
    transition: font-size 0.5s ease, color .1s ease-out;
    overflow: hidden;
}

.icon-info:hover {
    color: red;
    font-size: 21px;
}

.movie-image {
    height: 350px;
    max-width: 110%;
    box-shadow: -4px 4px 5px 0 #000;
    transition: transform 1s ease, opacity .5s ease-out;
}

.movie-image:hover {
    opacity: 1;
    transform: scale(1.1);
}

.person-image {
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
    transition: transform 1s ease, opacity .5s ease-out;
}

.person-image:hover {
    opacity: 1;
    transform: scale(1.1);
}

.person-info > p {
    word-spacing: 3px;
}