<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <p class="main-text" style="z-index: 999"> Pocket Movies </p>
      <p class="main-text2" style="z-index: 999">The best website to manage your movie catalog</p>
      <p class="main-text3" style="z-index: 999"><a routerLink="/signup">Sign up now!</a></p>
      <div class="carousel-item active">
          <div class="imgbox">
              <img class="d-block w-100 center-fit" src="../../assets/imgs/poster1.jpg" alt="First slide">
          </div>
      </div>
      <div class="carousel-item">
          <div class="imgbox">
              <img class="d-block w-100 center-fit" src="../../assets/imgs/poster2.jpg" alt="Second slide">
          </div>
      </div>
      <div class="carousel-item">
          <div class="imgbox">
              <img class="d-block w-100 center-fit" src="../../assets/imgs/poster3.jpg" alt="Third slide">
          </div>
      </div>
    </div>
  </div>