<div class="container align-items-center movie-details bg-dark text-white">
    <div class="row d-flex justify-content-between w-100 p-3">
        <div class="col-md-6 ">
            <h1>{{ person.name }}</h1>
            <div class="d-flex flex-column mb-3">
                <div class="person-info">
                    <p>Birthdate: {{ person.birthdate }}</p>
                    <p><i class="bi bi-twitter"></i> Twitter: {{ person.twitterAccount }}</p>
                    <p><i class="bi bi-instagram"></i> Instagram: {{ person.instagramAccount }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ person.imageField }}" class="person-image">
        </div>
        <!-- {% if group == "admin" %} -->
        <div class="row w-25" *ngIf="isSuperUser()">
            <div class="col">
                <button class="btn" (click)="editPerson(person)" style="cursor: pointer;">
                    <i class="bi bi-pencil-fill icon-info"></i>
                </button>
            </div>
            <div class="col">
                <button class="btn" (click)="deletePerson(person)">
                    <i class="bi bi-trash-fill icon-info"></i>
                </button>
            </div>
        </div>
    </div>
</div>
        